@import "../../../node_modules/react-image-gallery/styles/css/image-gallery.css";
@import "../../fonts/fonts.css";


* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;

}
body {
  position: relative;
  background: #fff;
}

div {
  line-height: 1.7;
}

body > div > div {
  padding-bottom: 250px;
}

h1 {
  font-family: 'Gilroy'
}

h2 {
  font-family: 'Modern Era';
  line-height: 1.7;
}

li {
  font-family: 'Modern Era';
}

p {
  font-family: 'Modern Era';
  margin: 24px 0;
  font-size: 20px;
  font-weight: 300;
}

strong {
  font-weight: 400;
}